<!DOCTYPE html>

<html lang="en" dir="ltr">

    <head>

        <meta charset="utf-8">
        <title>Help</title>
        <script src="../src/app.js"></script>

    </head>

    <body>
        {{>header}}
        {{>footer}}
    </body>
</html>